button[type="submit"]:first-child {
    border-radius: 10px 0 0 10px;
}

button[type="submit"]:nth-of-type(2) {
    border-radius: 0 10px 10px 0;
}
.card {
    border: none;
    border-radius: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.card-hover:hover {
    background-color: #ececec;
}

.card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 180px;
    object-fit: contain;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.text-decoration-line-through {
    font-size: 0.9rem;
    color: #999;
}

.text-muted {
    font-size: 0.9rem;
    color: #aaa;
}

.card-text {
    font-size: 1rem;
    line-height: 1.4;
}

#cart {
      position: relative;
    }

    .my_tooltip {
        display: none;
        position: fixed;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 2rem;
        font-weight: 700;
        z-index: 1000;
        white-space: nowrap;
        background-color: white;
        min-width: 150px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(0);
    }

.cart-content {
    max-height: 66vh;
    overflow-y: auto;
}

    .order-button-container {
        position: sticky;
        bottom: 0;
        background-color: white;
        padding: 10px;
        z-index: 10;
    }

    .tooltip-header {
        position: sticky;
        margin: 3rem 2rem 3rem 2rem;
        top: 0;
        background-color: white;
        z-index: 10;
    }

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-radius: 50px;
    height: 2.5rem;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    color: #495057;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
}

.quantity-control button {
    background-color: #f8f9fa;
    border-radius: 50%;
    padding: 2px 0;
    border: none;
    cursor: pointer;
    width: 50px;
}

.quantity-control button:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 75%);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.quantity-control .quantity-value {
    font-size: 24px;
    text-align: center;
    width: 40px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: bold;
    color: #495057;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.add-to-cart:hover {
    background-color: #e2e6ea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.table-img-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.cart-quantity-control {
    border: none;
    border-radius: 15px;
    background-color: #e0e0e0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 100px;
}

.cart-quantity-control button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cart-quantity-control button:hover {
    background-color: #d0d0d0;
}

.cart-quantity-value {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
